{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="signup-container">
        <h1 class="form-heading">Sign Up</h1>
        <form method="post">
            <div class="form-content">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{form.email.id_for_label}}" class="form-label">{{form.email.label}}</label>
                    {{form.email}}
                </div>
                
                <div class="form-group">
                    <label for="{{from.username.id_for_label}}" class="form-label">{{form.username.label}}</label>
                    {{form.username}}
                </div>
                
                <div class="form-group">
                    <label for="{{form.password.id_for_label}}" class="form-label">{{form.password.label}}</label>
                    {{form.password}}
                </div>
                <button type="submit" class="form-submit-button">Sign Up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}