{% extends 'base.html' %}
{% block content %}
    <div class="chat-container">
        <div class="chat-wrapper">
            <div class="chat-header-container">
                <ion-icon name="chatbubble" class="chat-icon"></ion-icon>
                <h1 class="chat-header">Chatting App</h1>
            </div>
            
            <div class="chatting-section">
                <h2 class="chatting-section-header">All Chats</h2>
            </div>

            <div class="chats-display">
                <div class="chat">
                    <ion-icon name="person-circle-outline" class="person-icon"></ion-icon>
                    <h3 class="sender-name">Person 1</h3>
                </div>

                <div class="chat">
                    <ion-icon name="person-circle-outline" class="person-icon"></ion-icon>
                    <h3 class="sender-name">Person 2</h3>
                </div>

                <div class="chat">
                    <ion-icon name="person-circle-outline" class="person-icon"></ion-icon>
                    <h3 class="sender-name">Person 3</h3>
                </div>
            </div>


        </div>
    </div>
{% endblock %}