{% extends 'base.html' %}
{% block content %}
    <div class="chat-container">
        <div class="chat-wrapper">
            <div class="chat-header-container">
                <ion-icon name="chatbubble" class="chat-icon"></ion-icon>
                <h1 class="chat-header">Chatting App</h1>
            </div>
            
            <div class="chatting-section">
                <h2 class="chatting-section-header">All Chats</h2>
            </div>
            
            <div class="chats-display">
                {% for user in users %}
                {% if user != request.user %}
                        <a href="{% url 'interaction:chat_page' pk=user.pk %}" class="no-dec">
                            <div class="chat">
                                <ion-icon name="person-circle-outline" class="person-icon"></ion-icon>
                                <h3 class="sender-name">{{user.username}}</h3>
                            </div>
                        </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="logout-button-con">
            <a href="{% url 'user:logout_user' %}" class="logout-button">Logout</a>
        </div>
    </div>

{% endblock %}